 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 693px;
}

.u-section-1 .u-text-1 {
  font-family: Marhey-VariableFont_wght;
  font-size: 1.5625rem;
  margin: 91px auto 0 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 52px;
  margin: -44px 505px 0 430px;
}

.u-section-1 .u-group-1 {
  width: 230px;
  min-height: 194px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 11px 145px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-2 {
  width: 140px;
  min-height: 51px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -21px 11px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: Almarai;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-family: Almarai;
  margin: 13px auto 0;
}

.u-section-1 .u-text-4 {
  font-family: Almarai;
  margin: 41px auto 0;
}

.u-section-1 .u-group-3 {
  min-height: 194px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 230px;
  margin: -194px auto 0 146px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-4 {
  width: 140px;
  min-height: 51px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -21px 11px 0 auto;
}

.u-section-1 .u-text-5 {
  font-family: Almarai;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-family: Almarai;
  margin: 13px auto 0;
}

.u-section-1 .u-text-7 {
  font-family: Almarai;
  margin: 41px auto 0;
}

.u-section-1 .u-image-1 {
  width: 254px;
  height: 254px;
  margin: -73px auto 0;
}

.u-section-1 .u-group-5 {
  min-height: 194px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 230px;
  margin: -76px auto 0 152px;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-6 {
  width: 140px;
  min-height: 51px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -21px 11px 0 auto;
}

.u-section-1 .u-text-8 {
  font-family: Almarai;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-family: Almarai;
  margin: 13px auto 0;
}

.u-section-1 .u-text-10 {
  font-family: Almarai;
  margin: 41px auto 0;
}

.u-section-1 .u-group-7 {
  min-height: 194px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  width: 230px;
  margin: -194px 145px 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-8 {
  width: 140px;
  min-height: 51px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -21px 11px 0 auto;
}

.u-section-1 .u-text-11 {
  font-family: Almarai;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  font-family: Almarai;
  margin: 13px auto 0;
}

.u-section-1 .u-text-13 {
  font-family: Almarai;
  margin: 41px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -47px auto 0;
}

.u-section-1 .u-text-14 {
  font-family: "Aref Ruqaa";
  font-size: 1rem;
  font-weight: 700;
  margin: 11px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: 9px;
    margin-right: 394px;
    margin-left: 336px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -33px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -82px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -60px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-group-7 {
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -34px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: -36px;
    margin-right: 280px;
    margin-left: 230px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -77px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -65px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -6px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 91px;
    margin-left: 239px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 98px;
  }

  .u-section-1 .u-image-1 {
    width: 115px;
    height: 115px;
    margin-top: -20px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 77px;
    margin-left: auto;
    font-size: 1.5rem;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 26px;
    margin-right: 103px;
    margin-left: 27px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 69px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 42px;
    height: 42px;
    margin-top: -473px;
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    margin-top: 472px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-7 {
    margin-top: 61px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 44px;
  }

  .u-section-1 .u-text-14 {
    margin-bottom: 28px;
  }
}.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  position: relative;
}
.loader:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
}
.loader-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.loader-block {
  display: inline-block;
  width: 8px;
  height: 10px;
  margin: 2px;
  background-color: rgb(53, 143, 246);
  box-shadow: 0 0 30px rgb(53, 143, 246);
  animation: loader 5s infinite;
}
.loader-block:nth-child(1) {
  animation-delay: 0.2s;
}
.loader-block:nth-child(2) {
  animation-delay: 0.4s;
}
.loader-block:nth-child(3) {
  animation-delay: 0.6s;
}
.loader-block:nth-child(4) {
  animation-delay: 0.8s;
}
.loader-block:nth-child(5) {
  animation-delay: 1s;
}
.loader-block:nth-child(6) {
  animation-delay: 1.2s;
}
.loader-block:nth-child(7) {
  animation-delay: 1.4s;
}
.loader-block:nth-child(8) {
  animation-delay: 1.6s;
}
.loader-block:nth-child(9) {
  animation-delay: 1.8s;
}
.loader-block:nth-child(10) {
  animation-delay: 2s;
}
.loader-block:nth-child(11) {
  animation-delay: 2.2s;
}
.loader-block:nth-child(12) {
  animation-delay: 2.4s;
}
.loader-block:nth-child(13) {
  animation-delay: 2.6s;
}
.loader-block:nth-child(14) {
  animation-delay: 2.8s;
}
.loader-block:nth-child(15) {
  animation-delay: 3s;
}
.loader-block:nth-child(16) {
  animation-delay: 3.2s;
}
.loader-block:nth-child(17) {
  animation-delay: 3.4s;
}
.loader-block:nth-child(18) {
  animation-delay: 3.6s;
}
.loader-block:nth-child(19) {
  animation-delay: 3.8s;
}
.loader-block:nth-child(20) {
  animation-delay: 4s;
}
.loader-block:nth-child(21) {
  animation-delay: 4.2s;
}
.loader-block:nth-child(22) {
  animation-delay: 4.4s;
}
.loader-block:nth-child(23) {
  animation-delay: 4.6s;
}
.loader-block:nth-child(24) {
  animation-delay: 4.8s;
}
@keyframes loader {
  0% {
    transform: scale(1);
    box-shadow: 0 0 40px rgb(53, 143, 246);
  }
  13% {
    transform: scale(1, 4);
    box-shadow: 0 0 60px rgb(53, 143, 246);
  }
  26% {
    transform: scale(1);
    box-shadow: 0 0 40px rgb(53, 143, 246);
  }
}
.gold-price-widget {
  width: 280px;
  border: 4px solid #000;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  color: #333;
}
.gold-price-widget h2 {
  font-size: 20px;
  padding: 10px;
  margin: 0;
  background-color: #ffc107;
  color: #fff;
}
.gold-price-widget .price {
  font-size: 24px;
  padding: 20px;
  text-align: center;
}
.gold-price-widget .price .unit {
  font-size: 14px;
  color: #777;
}
.gold-price-widget .price .value {
  font-weight: bold;
}
.gold-price-widget .update-time {
  font-size: 12px;
  text-align: center;
  padding: 5px;
  background-color: #f5f5f5;
  color: #777;
} @font-face {
  font-family: 'Marhey-VariableFont_wght';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Marhey-VariableFont_wght.ttf);
}